# ----------------------
# Python cache files
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------
# Jupyter Notebook
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Virtual environments
# ----------------------
venv/
env/
.venv/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Environment files
# ----------------------
.env

# ----------------------
# Logs
# ----------------------
*.log